/*
Transition

- :hover
-  swap size
- rotate
- opacity
- animation name
- animation duration
- timing function, ease-in- ease-out
- cubic bezier
- keyframes
- infinite loop
- bruk av animasjon på sider
- slide in tekst

*/

body{
    font-family:"Poppins", serif;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card{
  max-width: 500px;
  min-width: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.slideInLeft{
    background-color: #120D31;
    color: whitesmoke;
}

.slideInRight{
    background-color:#ACBEA3;
}

.rotate{
    background-color: #8DE969;
}